<html lang="zh-CN">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <title>车侣威擎抢红包了</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
  <meta content="no-cache" http-equiv="pragma" />
  <meta content="0" http-equiv="expires" />
  <meta content="telephone=no, address=no" name="format-detection" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <link href="__PUBLIC__/css/hb/main.css" rel="stylesheet">
  <link href="__PUBLIC__/css/hb/weui.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="mainWrap">
        <a id="rule" >
            <img src="__PUBLIC__/images/hb/rule.png"/>
        </a>
        <div class="hide" id="hbWrap">
            <img src="__PUBLIC__/images/hb/banner.png">
            <div class="redPacket">
                <a href="javascript:(0)" id="open">開</a>
            </div>

        </div>
        <div class="hide" id="myWrap">
            <div class="helpWrap">
                <a id="zu" href="javascript:(0)">帮他</a>
            </div>
            <div class="fTip">
                <span>已有</span>
                <span class="num">{$have}</span>
                <span>位朋友帮忙了，还差</span>
                <span class="num">{$need}</span>
                <span>位！</span>
            </div>
            <div class="fTitle">
                <span>伙伴</span>
                <span class="force">"给力"</span>
                <span>榜</span>
            </div>
            <ul class="fList">
                <volist name="zuList" id="vo" key="k">
                    <if condition="$k eq 4">
                        <li class="second">
                        <else />
                        <li class="first">
                    </if>
                        <img src="{$vo.headimgurl}">
                    </li>
                </volist>

            </ul>
        </div>
        <div class="hide" id="withdrawWrap">
            <div class="withdrawTab clearfix">
                <div class="pic left">
                    <img src="__PUBLIC__/images/hb/5.png">
                </div>
                <div class="num left">
                    <p>
                        <span class="credit">可兑:{$player.money}元</span>
                        <a id="detail" href="javascript:(0)">详情</a>
                    </p>
                    <p>
                        <span class="count">数量:{$giftCount}/100</span>
                    </p>
                </div>
                <div class="exchange left">
                    <a class="btn btn-success btn-click"  id="exchange" href="javascript:">抢兑</a>
                </div>
            </div>
            <ul class="wdLog">
                <volist name="moneyLog" id="vo">
                    <li>
                        <if condition="$vo.money lt 0">
                            <span>兑换了{$vo.money}元</span>
                        <else />
                            <span>获得了{$vo.money}元</span>
                        </if>

                        <span>{$vo.time}</span>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="hide" id="topWrap">
            <ul class="wdLog">
                <volist name="topList" id="vo">
                    <li>
                    <li>
                        <span>{$vo.id}累计了</span>
                        <span>{$vo.sum}</span>
                        <span></span>
                    </li>
                    </li>
                </volist>
            </ul>
        </div>

        <div class="hide" id="detailWrap">
            <ul class="wdLog">


            </ul>
        </div>
        <div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
            <nav>
                <ul id="top_menu" class="top_menu">
                    <li>
                        <a class="tabhome" href="#">
                            <label>我的</label>
                        </a>
                    </li>
                    <li>
                        <a class="tabtel" id="apply" href="javascript:(0)">
                            <label>报名</label>
                        </a>
                    </li>
                    <li class="home"><a href="javascript:(0)" id="separate"></a></li>
                    <li> <a class="tabtoplist" id="paihang" href="javascript:(0)"><label>排行</label></a>
                    <li>
                        <a class="tabshare" id="withdraw" onclick="">
                            <label>提现</label>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

  <!-- 活动介绍 -->
    <div id="ruleContainer" class="modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h5 class="modal-title h4"><i class="fa fa-exclamation-circle"></i>活动说明</h5>
          </div>
          <div class="modal-body small rule-list">
            <p class="h5">一等奖：1000元现金红包（累积获得红包金额最多者）</p>
            <p class="h5">二等奖：10元红包（每天派送30个）（累积获得红包金额第二者）</p>
            <p class="h5">三等奖：5元红包（每天派送50个）（累积获得红包金额第三者）</p>
            <p class="h5">四等奖：车侣威擎抵现积分</p>
            <p class="h5">参与奖：参与活动即可获得500积分（可抵现消费）</p>
            <p class="h5">活动时间：2016年4月18日—2016年5月18日</p>
            <p class="h5">主办单位：</p>
            <p class="h5">浙江威擎网络科技有限公司</p>
            <p class="h5">兑奖说明：</p>
            <p class="h5">
                <span>每日下午四点派送红包（周日获奖的红包累积到周一派送）</span>
                <span>每人每日可拆红包一次 可邀请五个好友助力</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  <!-- 活动介绍 -->


  <!-- 报名 -->
    <div id="applyContainer" class="modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h5 class="modal-title h4"><i class="fa fa-exclamation-circle"></i>报名 填写信息</h5>
          </div>
          <div class="modal-body small">
                <form id="userForm" class="form-horizontal" method="post" action="exchange">
                    <div id="userGroup" class="form-group">
                        <label for="username" class="col-xs-3 control-label">姓&nbsp;&nbsp;&nbsp;名</label>
                        <div class="col-xs-9">
                          <input type="text" name="username" class="form-control" id="username" placeholder="姓名">
                        </div>
                    </div>
                    <div id="addrGroup" class="form-group">
                        <label for="phone" class="col-xs-3 control-label">手&nbsp;&nbsp;&nbsp;机</label>
                        <div class="col-xs-9">
                          <input type="text" name="phone" class="form-control" id="phone" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wchat" class="col-xs-3 control-label">微&nbsp;&nbsp;&nbsp;信</label>
                        <div class="col-xs-9">
                          <input type="text" name="wchat" class="form-control" id="wchat" placeholder="微信账号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="error" class="control-label left pl10 red" ></label>

                    </div>
                    <input id="userId" name="userid" type="hidden" value="{$userId}" />
                    <input id="playerStatus" type="hidden" value="{$playerStatus}" />
                    <input id="hubId" name="hubid" type="hidden" value="" />
                    <input id="hubModel" value="" type="hidden" >
                </form>
          </div>
          <div class="modal-footer">
            <span id="userError" class="error left"></span>
            <button id="userSure" type="button" class="btn btn-primary">
               完成
            </button>
          </div>

        </div>
      </div>
    </div>
  <!-- 报名 -->


    <div id="toast" style="display: none;">
            <div class="weui_mask_transparent"></div>
            <div class="weui_toast">
                <i class="weui_icon_toast"></i>
                <p id="toastText" class="weui_toast_content">已完成</p>
            </div>
    </div>



  <div id="voteNotice" class="modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h5 class="modal-title h4">
                <i class="fa fa-exclamation-circle"></i>
                <span >关注我们后,回复【投票】参与活动</span>
            </h5>
          </div>
          <div class="modal-body">
            <img class="small" src="http://wx.vlegend.cn/Public/tp/notice.png">
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default left"
                   data-dismiss="modal">放弃</button>
            <button id="goFollow" type="button" class="btn btn-primary">
               前往
            </button>
          </div>
      </div>
    </div>
  </div>
  <!-- system modal end -->
  <!-- hidden input -->
<input id="subscribe" value="{$subscribe|default='0'}" type="hidden" >
<input id="fId"  type="hidden" value="1443" />
<input id="vId" value="{$vId}" type="hidden" >
  <!-- hidden input -->
<input id="votersCount" value="{$count}" type="hidden" >
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
    window.conf ={
        "link":"http://wx.vlegend.cn/tp.html?id={$userId}"
    };
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$data.appId}', // 必填，公众号的唯一标识
        timestamp: {$data.timestamp}, // 必填，生成签名的时间戳
        nonceStr:'{$data.nonceStr}', // 必填，生成签名的随机串
        signature:'{$data.signature}',// 必填，签名，见附录1
        jsApiList: ['checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        //var id =getQueryString("id");
        wx.onMenuShareAppMessage({
            title: "我在参加《车侣威擎网》最佳人气轮毂评选活动 快来帮我助力",
            desc: "车侣威擎科技 最具人气轮毂评选活动!",
            link: window.conf["link"],
            imgUrl: 'http://wx.vlegend.cn/Public/tp/banner.jpg',
            trigger: function (res) {
              //alert('用户点击发送给朋友');
            },
            success: function (res) {
              //alert('已分享');

                // var userId = $("#userId").val();
                // xmlhttp=new XMLHttpRequest();
                // xmlhttp.open("GET","http://wx.vlegend.cn/share?userid="+userId,true);
                // xmlhttp.send(null);
            },
            cancel: function (res) {
              //alert('已取消');
            },
            fail: function (res) {
              alert(JSON.stringify(res));
            }
        });

        wx.onMenuShareTimeline({
            title: "我在参加《车侣威擎网》最佳人气轮毂评选活动 快来帮我助力",
            link: window.conf["link"],
            imgUrl: 'http://wx.vlegend.cn/Public/tp/banner.jpg',
            trigger: function (res) {
            //alert('用户点击分享到朋友圈');
            },
            success: function (res) {
            //alert('已分享');
                // var userId = $("#userId").val();
                // xmlhttp=new XMLHttpRequest();
                // xmlhttp.open("GET","http://wx.vlegend.cn/share?userid="+userId,true);
                // xmlhttp.send(null);
            },
            cancel: function (res) {
            //alert('已取消');
            },
            fail: function (res) {
            alert(JSON.stringify(res));
            }
        });
    });
wx.error(function(res){
    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
});
</script>
<script src="__PUBLIC__/js/hb/app.js"></script>


 </body>
</html>