    body{
        font-family: "Microsoft Yahei";
      }
    .mainWrap{
        background: url("../../images/hb/bg.jpg");
        background-repeat: no-repeat;
        background-color: #f25f5c;
        background-size: 100% auto;
        height:100%;
    }
    .top_menu {
        width: 100%;
        height: 50px;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset;
        border-top: 0px solid rgb(82, 73, 69);
        margin: 0px;
        padding: 5px 0px 0px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(50, 57, 74)), color-stop(0.6, rgb(50, 57, 74)), to(rgb(50, 57, 74)));
    }
    .tabhome {
        background: url(../../images/hb/my.png?ver=3) no-repeat;
        background-position: 50% 0;
        background-size: 24px 24px;
        padding-top: 24px;
    }
    .tabhome.active {
        background: url(../../images/hb/my_active.png?ver=3) no-repeat;
        background-position: 50% 0;
        background-size: 24px 24px;
    }
    .tabtel {
        background: url(../../images/hb/join.png) no-repeat;
        background-position: 50% 0;
        background-size: 24px 24px;
        padding-top: 24px;
    } 
    .top_bar .top_menu>li.home a {
        height: 66px;
        width: 66px;
        margin: 0 auto;
        border-radius: 60px;
        position: relative;
        top: -19px;
        background: url(../../images/hb/chai.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .top_bar .top_menu>li.home a.active{
        background: url(../../images/hb/chai_active.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .tabtoplist {
        background: url(http://wx.vlegend.cn/Public/tp/paih.png?ver=3) no-repeat;
        background-position: 50% 0;
        background-size: 24px 24px;
        padding-top: 24px;
    }
    #paihang.active{
        background: url(../../images/hb/paih_active.png) no-repeat;
        background-position: 50% 0;
        background-size: 24px 24px;
        padding-top: 24px;
    }
    .tabshare {
        background: url(../../images/hb/withdraw.png) no-repeat;
        background-position: 50% 0;
        background-size: 24px 24px;
        padding-top: 24px;
    }
    .top_bar label{font-size: 0.7em}

    ul#count li.lf, ul#count li.ls {
      width: 33%;
      background: url('http://wx.vlegend.cn/Public/tp/tline.png') center right no-repeat;
      background-size: 1px 28px;
    }
    ul#count li {
      float: left;
      text-align: center;
      list-style: none;
      background: #f0e1ca;
      border-bottom: 0px #dadada solid;
      padding: 8px 0 4px 0;
    }
    #time_conter {
        background: #8d604d url(http://wx.vlegend.cn/Public/tp/c.png) no-repeat 14px center;
        background-size: 42px 42px;
        color: #e6cbab;
        TEXT-ALIGN: left;
        padding: 1.5em 0;
        padding-left: 70px;
    }
    #three {
        background: #f0e1ca;
        padding: 2px 12px 0 12px;
    }

.timg {
    position: absolute;
    left: 0px;
    top: 8px;
    height: 20px;
}

.title {
    font-size: 1em;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
} 

.title span {
    height: 18px;
    width: 28px;
    display: inline-block;
}

#three p {
    color: #8d604d;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.sorts a {
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    display: block;
    text-align: center;
    background: #fcf0dd;
    color: #8d604d;
    height: 37px;
    line-height: 37px;
    margin-right: 1px;
    text-decoration: none;
    border-bottom: #fcf0dd solid 1px;
}

.sorts a.active {
    border-bottom: #8d604d solid 1px;
}

.name {
    background: #ffffff;
    padding: 0 5px;
    position: relative;
    top: -4px;
}

.namec {
    background: #f1f1f1;
    z-index: 2;
    height: 32px;
    font-size: 1em;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    color: #929091;
    width: 100%;
}

.btn-wrap {
    padding: 0 5px 12px;
    background: #ffffff;
    padding: 5px;
    margin: -4px 0 0px 0;
    height: 38px;
    position: relative;
}

.btn-1 {
    background: none repeat scroll 0 0 #f0e1ca;
    border: 0px solid #FA548C;
    color: #8d604d;
    height: 26px;
    width: 80px;
    font-size: 1em;
    line-height: 20px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 0px solid #f0e1ca;
    margin-right: 0.8em;
}
#thumbs,#topList,#userList{
  padding-bottom: 100px;
}

#thumbs li img{
  width: 100%;
}
#thumbs li{
  padding-top: 6px;
  padding-bottom: 6px;
}
.col-md-6{
  float: left;
  width: 50%;
  padding-right: 0px;
  padding-left: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.showcase{
    padding: 20px 0;
    margin: 0px;
    display: block;
}
#applyContainer .showcase img{
  width: 100%;
}
#topList .showcase img{
  width: 100%;
}
#applyContainer ul{
  background: #fff;
}

.model{
  height:38px;background:#fff;color: #000;line-height: 36px;text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
  </style>

  <style type="text/css">
body {
  margin-bottom: 60px !important
}

a,button,input {
  -webkit-tap-highlight-color: rgba(255,0,0,0)
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0
}

.top_bar {
  position: fixed;
  z-index: 900;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: Helvetica,Tahoma,Arial,Microsoft YaHei,sans-serif
}

.top_bar .top_menu>li {
  -webkit-box-flex: 1;
  width: 20%;
  position: relative;
  text-align: center
}

.top_menu li:first-child {
}

.top_bar .top_menu>li>a {
  display: block;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  -webkit-box-flex: 1
}

.top_bar .top_menu>li.home a {
  position: relative;
}

.top_bar .top_menu>li>a label {
  overflow: hidden;
  margin: 0 0 0 0;
  display: block !important;
  line-height: 18px;
  text-align: center;
}

.top_bar .top_menu>li>a img {
  padding: 3px 0 0 0;
  height: 24px;
  width: 24px;
  color: #fff;
  line-height: 48px;
  vertical-align: middle
}

.top_bar li:first-child a {
  display: block
}

.menu_font {
  text-align: left;
  position: absolute;
  right: 10px;
  z-index: 500;
  background: -webkit-gradient(linear,0 0,0 100%,from(#524945),to(#48403c),color-stop(60%,#524945));
  border-radius: 5px;
  width: 120px;
  margin-top: 10px;
  padding: 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3)
}

.menu_font.hidden {
  display: none
}

.menu_font {
  top: inherit !important;
  bottom: 60px
}

.menu_font li a {
  height: 40px;
  margin-right: 1px;
  display: block;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  -webkit-box-flex: 1
}

.menu_font li a {
  text-align: left !important
}

.top_menu li:last-of-type a {
  ;overflow: hidden
}

.menu_font:after {
  top: inherit !important;
  bottom: -6px;
  border-color: #48403c rgba(0,0,0,0) rgba(0,0,0,0);
  border-width: 6px 6px 0;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  left: 80%
}

.menu_font li {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.2)
}

.menu_font li:first-of-type {
  border-top: 0
}

.menu_font li:last-of-type {
  border-bottom: 0
}

.menu_font li a {
  height: 40px;
  line-height: 40px !important;
  position: relative;
  color: #fff;
  display: block;
  width: 100%;
  text-indent: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.menu_font li a img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: -2px;
  color: #fff;
  line-height: 40px;
  vertical-align: middle
}

.menu_font>li>a label {
  padding: 3px 0 0 3px;
  overflow: hidden;
  margin: 0
}

#menu_list0 {
  right: 0;
  left: 10px
}

#menu_list0:after {
  left: 20%
}

#sharemcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 20000
}

#sharemcover img {
  position: fixed;
  right: 18px;
  top: 5px;
  width: 260px;
  height: 180px;
  z-index: 20001;
  border: 0
}

.top_bar .top_menu>li>a:hover,.top_bar .top_menu>li>a:active {
  backgrounsd-color: #333

}
#withdraw.active{
    background: url(../../images/hb/withdraw_active.png) no-repeat;
    background-position: 50% 0;
    background-size: 24px 24px;
    padding-top: 24px;
}

#sou:hover,#sou:active {
  background-color: none
}

.menu_font li a:hover,.menu_font li a:active {
  backgrousnd-color: #333
}

.menu_font li:first-of-type a {
  border-radius: 5px 5px 0 0
}

.menu_font li:last-of-type a {
  border-radius: 0 0 5px 5px
}

#plug-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  z-index: 800
}

#cate18 .device {
  bottom: 49px
}

#cate18 #indicator {
  bottom: 240px
}

#cate19 .device {
  bottom: 49px
}

#cate19 #indicator {
  bottom: 330px
}

#cate19 .pagination {
  bottom: 60px
}

.applyList li{
  padding-top: 8px;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.error{
  color: red;
}

.left {
  float: left;
}

#forUser{
      padding-top: 7px;
}
.load-wrap{
    background: rgba(252, 248, 227, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    height: 9em;
    margin: 0 auto;
    padding-top: 6em;
    position: relative;
}


.load-content{
    left: 50%;
    top: 68%;
    color:#8d604d;
}
#plug{
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
#soso{
    z-index: 99999999;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
}
.soubg {
    background: #8d604d;
}
.stop {
    width: 100%;
    height: 60px;
    background: url('http://tp.qmhhr.net/static/syh.png') center center no-repeat;
    line-height: 60px;
}
#soname {
    color: #fff;
    height: 36px;
    line-height: 28px;
    width: 40px;
    background: url('http://tp.qmhhr.net/static/so.png?ver=2') center center no-repeat;
    text-indent: -9999px;
    font-size: 28px;
    display: inline-block;
}
.soarrow {
    border-style: solid;
    border-width: 8px;
    border-color: #8d604d transparent transparent transparent;
    height: 0;
    bakground: none;
}
.search-bar {
    width: 70%;
    height: 36px;
    line-height: 36px;
    font-size: 1em;
    border-radius: 8px;
    padding-left: 8px;
    border: 0px;
    color: rgb(185, 185, 185);
    background: rgb(240, 240, 240);

}
.search-notice{
  width: 100%;
  height:40px;
  font-size:0.8em;
  line-height:40px;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-autocomplete {
    position: absolute;
    top: 84px;
    left: 10px;
    cursor: default;
}
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.6em;
}
.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff;
    color: #222;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-widget-content a {
    color: #222;
}
.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
}
#voteContainer img, #userList img ,#voteNotice img{
  width: 100%;
}

#voteContainer .row{
  padding-top: 20px;
}
#alert  p.h5{
  line-height: 26px;
}

#hbWrap{
    position: relative;
    padding-top: 3em;
}
#myWrap{
    position: relative;
    padding-top: 4em;
}
#friendWrap{
    position: relative;
    padding-top: 4em;
}
#hbWrap img ,#myWrap img{
    width: 100%;
}
.fList img{
    width: 100%
}
.fList{
    padding-top: 2em;
    background: none;
}
.fList li{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
    background: #98aaac;
    box-shadow: 3px 2px 7px rgba(80, 80, 80, 0.5);
    margin-top: 10px;
    overflow: hidden;
}
.fTitle{
    color: #98aaac;
    font-family: "Microsoft Yahei";
    font-size: 160%;
    text-align: center;
    width: 80%;
    border-bottom: solid 2px #98aaac;
    margin: 0 auto;
}
.force{
    padding: 0 5px;
}
.fTip{
    color: white;
    font-family: "Microsoft Yahei";
    font-size: 120%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.fTip .num{
    color:#fff000;
    font-size: 160%;
}
#withdrawWrap{
    padding-top: 0em;
    padding-left: 1em;
    height: 100%;
}

.withdrawTab{
    padding:4px 10px;
}
.withdrawTab .pic{
    width: 23.3%;
}
    .withdrawTab .pic img{
        width: 100%;
    }
.withdrawTab .num{
    width: 43.3%;
    font-size: 120%;
    padding-left: 2em;
    padding-top: 0.6em;
}
.exchange {
    width: 33.3%;
    padding-left: 2em;
    padding-top: 1.3em;
}

.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.rule-list p{
    line-height: 2;
}
#rule{
    position: absolute;
    right: 0;
    top:0;
    z-index: 3;
}
#friend{
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
}
.helpWrap{
    background: url("../../images/hb/help.png");
    background-size: 100% auto;
}
.fhelpWrap{
    background: url("../../images/hb/fhelp.png");
    background-size: 100% auto;
}
.redPacket{
    margin-top: 2em;
    background: url("../../images/hb/hongbao.png");
    background-size: 100% auto;
    position: relative;
}
#open{
    height: 62px;
    width: 62px;
    background: #ffe066;
    line-height: 62px;
    display: block;
    border-radius: 50%;
    border: 1px solid #b09f99;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

.zu{
    display: block;
    background: url("../../images/hb/zu.png");
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family:"Microsoft Yahei";
}
a.zu:focus, a.zu:hover{
    color: white;
    text-underline: none;
}
#withdrawWrap td{
    border-top: 1px solid transparent;
}
#topWrap{
    padding-top: 6em;
    padding-left: 1.5em;
}
.hbTip{
    text-align: center;
}
.hbTip span{
    color: #ffe066;
    font-size: 140%;
    font-family: 微软雅黑;
}
.avatar{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.avatar img{
    width: 100%;
    max-height: 100px;
}
#focusNotice img{
    width: 100%;
}
.withdrawTab .info{
    text-align: center;
}